body {
    margin: 0 auto;
}
.topo{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    text-align: center;
}

.logo_hotel{
    width: 20%;
    margin: 0 auto;
    display: inline-block;
}
.btmenu{
    width: 33%;
    height: 2%;
}

.btcidade{
    width: 33%;
    height: 2%;
}
.btlogin{
    width: 33%;
    height: 2%;
}

.imagem1{
    width: 47%;
}
.imagem2{
    width: 47%;
}
.mar{
    color: rgb(0, 195, 255);
}
.predios{
    color:rgb(0, 195, 255);
}
.resort1{
    width: 19%;
    height: 494px;
}
.resort2{
    width: 39%;
}
.resort3{
    width: 35%;
    height: 494px;
}

.piscina{
    color: rgb(0, 195, 255);
}

.piscina1{
    width: 30%;
}

.piscina2{
    width: 28%;
}

.piscina3{
    width: 66vh;
}

.menu{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpaperswide.com%2Fgoogle_3-wallpapers.html&psig=AOvVaw0BzJcycadlEmdDzqThuFQl&ust=1695755827648000&source=images&cd=vfe&opi=89978449&ved=0CA4QjRxqFwoTCKCiqvK8xoEDFQAAAAAdAAAAABAD");
}

