body {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.topo{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    text-align: center;
}

.logo_hotel{
    width: 20%;
    margin: 0 auto;
    display: inline-block;
}
.btmenu{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.btlogin{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.btcar{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.imagem1{
    width: 50vh;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    
}

.imagem2{
    width: 50vh;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.praia{
    margin-left: 26%;
    margin-right: 20%;
    width: 50%;
}

.mar{
    margin-left: 27%;
    width: 50%;
}

.descpraia{
    margin-left: 26%;
    margin-right: 25%;
    width: 50%;
    text-align: center;
}

.predios{
    margin-left: 26%;
    margin-right: 25%;
    width: 50%;
    text-align: center;
}

.resort3{
    width: 28%;
    height: 25%;
    width: 60vh;
}

.piscina{
    margin-left: 26%;
    margin-right: 25%;
    width: 50%;
    text-align: center;}

.piscina2{
    margin-left: 28%;
    margin-right: 25%;
    width: 50%;
    text-align: center;}

.piscina3{
    margin-left: 28%;
    margin-right: 25%;
    width: 50%;
    text-align: center;
}

.piscinadesc{
    margin-left: 28%;
    margin-right: 25%;
    width: 50%;
    text-align: center;
}

.reservas{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log{
    border: 20px solid red;
    width: 60vh;
}

.menu-caixa{
    margin-top: 20%;
    margin-left: 24%;
    margin-right: 25%;
    text-align: center;
}

ul {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding: 0;
}
li {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding: 0;
}

.carrinho {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding: 0;
    border: 1px solid #ccc;
    padding: 10px;
}